{%- extends 'layouts/base.twig' %}

{%- block body %}
<div id="pjax-container">
    <div class="main main--custom-page">
        <div class="main__content">

            <div class="homepage swiper-container" id="homepage-scenes">
                 <div class="swiper-wrapper">

                     {# INTRO #}
                     <div class="swiper-slide"
                          data-hash="intro">
                         <section class="scene scene--first">
                             {% include 'blocks/main-header.twig' %}
                             <div class="scene__background">
                                 <video class="scene__background-video"
                                        poster="/images/homepage.jpg"
                                        playsinline
                                        autoplay
                                        muted
                                        loop>
                                     {# todo mmmm? #}
                                     <source src="https://www.wedes-art.com/videos/homepage.mp4" type="video/mp4">
                                 </video>

                                 <picture>
                                     <img class="scene__background-image"
                                          src="/images/homepage.jpg"
                                          alt=""
                                          role="presentation">
                                 </picture>
                             </div>

                             <div class="scene__content">
                                 <div class="homepage__portfolio-navigation">
                                     <ul class="navigation navigation--homepage"><li class="navigation__item "><span class="navigation__link">Сайти</span>
                                    </li><li class="navigation__item"><span class="navigation__link">Мобільні додатки</span>
                                    </li><li class="navigation__item "><span class="navigation__link">3D</span>
                                    </li>
                                    </ul>
                                 </div>

                                 <div class="homepage__about-us">
                                     <p><strong>We create websites</strong>, interfaces, <br>mobile applications.<br>We promote and develop projects.</p>
                                 </div>
                             </div>

                             {%- include 'blocks/scroll-down.twig' -%}
                         </section>
                     </div>
                    {# INTRO ENDS #}

                    {# FEATURES STARTS #}
                     <div class="swiper-slide"
                          data-hash="features">
                         <section class="scene"
                                  id="scene-homepage-features">
                             <div class="scene__content scene__content--feature">
                                {% include 'blocks/features.twig' %}

                                <div class="feature-text">
                                    <p>
                                        Web Studio Wedes was found in 2006. Wedes is an enthusiastic team, well-experienced in design, website and mobile app's development.
                                    </p>
                                    <div class="feature-text__row">
                                        <div class="feature-text__col">        
                                            <p>    
                                                Our services</br>
                                                - web design</br>
                                                - web development</br>
                                                - web application</br>
                                                - mobile application (iOS and Android)</br>
                                                - identity and branding</br>
                                                - 3D visualization and animation</br>
                                                - SMM</br>
                                            </p>
                                        </div>
                                        <div class="feature-text__col">
                                            <p>
                                                We have clients who with us more than 10 years</br>
                                                We have offices in Ukraine and Poland</br>
                                                We have clients from Ukraine, USA, UAE, Lithuania, Poland, Spain</br>
                                                We respect our clients deadlines, so we ensure that we stick to them.</br>
                                                We like what we do. Quality is important for us.</br>
                                                Some members in our team works from 2006 till now...</br>
                                                We are a real team with one target and the cat.</br>
                                            </p>
                                        </div>
                                    </div>
                                    <p>
                                        We are not just making websites.</br>
                                        We are help business to grow.</br>
                                    </p>
                                </div>
                             </div>
                             {%- include 'blocks/scroll-down.twig' -%}
                         </section>
                     </div>
                     {# FEATURES ENDS #}
                     <div class="swiper-slide"
                          data-hash="portfolio">
                          {% include 'blocks/portfolio-section.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %}
