@require './error'
@require './icon'
@require './language-switcher'
@require './logotype'
@require './main-header'
@require './main'
@require './navigation-toggle'
@require './navigation'
@require './overlay'
@require './page-header'
@require './pagination'
@require './plus-minus'
@require './scroll-down'
@require './social-link'
@require './socials-links'
@require './text-page'
