.language-switcher
    .navigation
        display flex

        &__item
            &:not(:last-child)
                margin-right 20px

        &__link
            font-weight 700
            font-size 18px
