.portfolio-cards
    +above($screen-sm)
        padding-top 30px

    &__list
        display flex
        flex-wrap wrap
        margin-right -10px
        margin-bottom -20px
        margin-left @margin-right

    &__footer
        .button--link
            padding-right 0
            padding-left @padding-right
