@require 'settings/base/colors'

.feature
    display flex
    flex-direction column
    align-items center

    &__icon
        margin-bottom 30px

    &__title
        margin-bottom 25px
        text-align center
        font-weight 700
        font-size 18px
        text-transform uppercase

    &__content
        text-align center
        font-size 14px
        line-height 1.5
