<section class="scene">
    <div class="scene__content scene__content--projects">
        <div class="swiper-container" id="homepage-projects">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-simplebar>
                    {% include 'blocks/projects/garden-club.twig' %}
                </div>
                <div class="swiper-slide" data-simplebar>
                    {% include 'blocks/projects/robik.twig' %}
                </div>
                <div class="swiper-slide" data-simplebar>
                    {% include 'blocks/projects/fitlantrophy.twig' %}
                </div>
            </div>
        </div>
    </div>
</section
