
<button class="scroll-down"
        data-el="scroll-scene-btn">
<svg class="icon icon--svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-symbols.svg#scroll-down"></use></svg>
</button>
