$design-icon-animation-duration = 4000ms
$design-icon-animation-delay = 1000ms
$design-icon-animation-iteration-count = infinite
$design-icon-connector-horizontal-stroke-dasharray = 19.12px
$design-icon-connector-wave-stroke-dasharray = 21.689px
