$strategy-icon-connector-stroke-dasharray = 72.084px
$strategy-icon-x-stroke-dasharray = 21.43px
$strategy-icon-animation-duration = 4000ms
$strategy-icon-animation-delay = 1000ms
$strategy-icon-animation-iteration-count = infinite
