@require 'creators/card-with-caption-creator'

.site-card
    @extend $card-with-caption-creator

    flex-basis 33.33333333333333%
    max-width 33.33333333333333%

    +below($screen-lg)
        flex-basis 50%
        max-width 50%

    +below($screen-sm)
        flex-basis 100%
        max-width 100%
