<div class="app-page app-page--style_2 app-page--slide">
    <div class="app-page__left">
        <div class="app-page__content">
            <div class="app-page__content-header">
                <h1 class="app-page__title" itemprop="name">FITlanthropy</h1>
                <div class="app-page__subtitle">фітнес-додаток</div>
            </div>

            <div class="app-page__description" itemprop="description"><p>Основною метою створення мобільного додатку була ідея поєднання фітнесу та філантропії.</p>
                <p>Кожного місяця створюється фітнес-челендж. Визначається набір вправ які має виконати учасник, загальна сума пожертви та організація яка отримає ці гроші. Якщо ви виконаєте всі умови місячного змагання від вашого імені&nbsp; здійснюється пожертва.</p>
                <p>Для участі вам потрібно бути громадянином США. Достатньо завантажити додаток, в ньому зібрані вправи на день, тиждень, місяць які потрібно виконати. Вправи маєть опис та відео-інструкцію. Мобільний додаток дозволяє вам відстежувати час та повтори. Для цього достатньо увімкнути таймер та реакцію на шейк (ви можете тримати телефон у руці чи прикріпити до себе, а він самостійно порахує кількість стрибків, присідать для прикладу).</p>
                <p>Після виконання запланованих вправ ви розшарюєте результати у Facebook через мобільний додаток.</p>
            </div>

            <div class="socials-links">
                <li class="socials-links__list-item">
                    <a class="social-link" href="https://www.facebook.com/sharer.php?u=/project/fitlanthropy" target="_blank" data-attr="facebook-share" rel="nofollow">
                        <div class="social-link__icon"><svg class="icon icon--svg icon--facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-symbols.svg#facebook"></use></svg></div>
                        <div class="social-link__text">Facebook</div>
                    </a>
                </li>
            </div>

            <div class="app-page__content-footer"><div class="app-page__content-footer-btn-group"><a href="https://itunes.apple.com/us/app/fitlanthropy/id1241960709?mt=8" class="app-page__btn app-page__btn--app-store" target="_blank" title="Переглянути в App Store" aria-label="Переглянути в App Store" itemprop="url" rel="nofollow">
                                <span class="sr-only">IOS</span>
                            </a><a href="https://play.google.com/store/apps/details?id=com.gusskarlis.fitlanthropy" class="app-page__btn app-page__btn--google-play" target="_blank" title="Переглянути в Google Play" aria-label="Переглянути в Google Play" itemprop="url" rel="nofollow">
                                <span class="sr-only">Android</span>
                            </a></div><div class="app-page__content-footer-btn-group">
                </div>
            </div>
        </div>
    </div>

    <div class="app-page__right">
        <div class="visible-sm">
            <div class="app-page__mobile-header">
                <div class="app-page__title">FITlanthropy</div>
                <div class="app-page__subtitle">фітнес-додаток</div>
            </div>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" media="(max-width: 47.9375rem)">

            <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" media="(min-width: 75rem)">

            <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" alt="Mobile-App-Screen-Mockups.jpg" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" data-was-processed="true">
        </picture>
        </div>
    </div>
</div>
