<div class="app-page app-page--style_2 app-page--slide"
     >
    <div class="app-page__left">
        <div class="app-page__content">
            <div class="app-page__content-header">
                <h1 class="app-page__title" itemprop="name">FITlanthropy</h1>
                <div class="app-page__subtitle">FITlanthropy combines fitness challenges with philanthropy. Each day there's a new fitness workout for you to complete. For those that finish the workouts Jesse Itzler donates money to a charity in your name.</div>
            </div>

            <div class="app-page__description" itemprop="description">
                <p>    
                    To get started simply login and view the day's workout. When you're done record your results and share to your social media pages. 
                </p>
                <p>
                    Daily view has exercises with a rep counter or time counter so you can easily track and record your movements.
                </p>
                <p>
                    Tech:</br>
                    Ionic,</br>
                    Angular 4,</br>
                    Typescript,</br>
                    SCSS</br>
                </p>
            </div>
            <div class="app-page__content-footer"><div class="app-page__content-footer-btn-group"><a href="https://itunes.apple.com/us/app/fitlanthropy/id1241960709?mt=8" class="app-page__btn app-page__btn--app-store" target="_blank" title="Переглянути в App Store" aria-label="Переглянути в App Store" itemprop="url" rel="nofollow">
                                <span class="sr-only">IOS</span>
                            </a><a href="https://play.google.com/store/apps/details?id=com.gusskarlis.fitlanthropy" class="app-page__btn app-page__btn--google-play" target="_blank" title="Переглянути в Google Play" aria-label="Переглянути в Google Play" itemprop="url" rel="nofollow">
                                <span class="sr-only">Android</span>
                            </a></div><div class="app-page__content-footer-btn-group">
                </div>
            </div>
        </div>
    </div>

    <div class="app-page__right">
        <div class="visible-sm">
            <div class="app-page__mobile-header">
                <div class="app-page__title">FITlanthropy</div>
                <div class="app-page__subtitle">фітнес-додаток</div>
            </div>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" media="(max-width: 47.9375rem)">

            <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" media="(min-width: 75rem)">

            <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" alt="Mobile-App-Screen-Mockups.jpg" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__app_project/0001/01/58b3769bec60d5f9a22942218a9a10b60b7b6976.jpeg 2x" data-was-processed="true">
        </picture>
        </div>
    </div>
</div>
