<div class="site-page site-page--slide site-page--style_5"
     >
    <div class="site-page__left">
        <div class="site-page__content">
            <div class="site-page__content-header">
                <h1 class="site-page__title" itemprop="name">Garden Club</h1>
                <div class="site-page__subtitle">Garden Club is a leading Ukrainian company in the sector of garden products.</div>
            </div>

            <div class="site-page__description" itemprop="description">
                <p>
                    Goal</br>
                    -To create a new corporate website that corresponds to the level of websites of the high-cost category.</br>
                    -To present product catalog with photos and descriptions of advantages.</br>
                </p>
                <p>
                    Solution</br>
                    1. We create an easy to use adaptive website with unique design, modern and attractive interface.
                </p>
                <p>
                    2. In order to make the navigation easier, we created icons, select the color for each category, add filters by brand, showed options by volume.
                </p>
                <p>
                    3.The interactive map shows the geographical positions of company representations.
                    User can choose the region by clicking on the map or by select item from drop-down menu.
                </p>
                <p>
                    4. Product page design emphasis on the content: white background, easy-to-read fonts, structured information, colorful and big images.
                </p>
                <p>
                    Project features:</br>
                    Development of the concept</br>
                    Uniquely designed</br>
                    Mobile friendly</br>
                    Multilingualism</br>
                    CMS (Wedes Content Management System)</br>
                    Script animation</br>
                </p>
                <p>
                    Catalog</br>
                    Filter selection</br>
                    News/Articles</br>
                    General search</br>
                    Gardening calendar</br>
                    Interactive map</br>
                    Feedback form</br>
                </p>
                <p>
                    Tech:</br>
                    Symfony,</br>
                    Redis,</br>
                    MySql,</br>
                    Typescript,</br>
                    JavaScript,</br>
                    Stylus</br>
                </p>
            </div>

            <div class="site-page__content-footer">
                <a href="http://gardenclub.net.ua" class="button button--small" target="_blank" itemprop="url" rel="nofollow">Перейти на сайт</a>
            </div>

        </div>
    </div>

    <div class="site-page__right">
        <div class="visible-sm">
            <div class="site-page__mobile-header">
                <div class="site-page__title">ТОВ "Гарден Клаб"</div>
                <div class="site-page__subtitle">інтернет-каталог товарів садово-городнього напряму</div>
            </div>
        </div>

        <div class="project-page-media">
            <picture class="project-page-media__item loaded">
                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image initial loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" alt="1.jpg" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" data-was-processed="true">
            </picture>
        </div>

        <div class="project-page-media">
                            <iframe src="https://player.vimeo.com/video/247484908?loop=1&amp;autopause=0&amp;color=000000&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" width="751" height="382" id="project-video" data-ready="true">
        </iframe>
                </div>

            <div class="project-page-media">
                <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image initial loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" alt="2.jpg" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" data-was-processed="true">
                </picture>
            </div>
    </div>
</div>
