<div class="site-page site-page--slide site-page--style_5">
    <div class="site-page__left">
        <div class="site-page__content">
            <div class="site-page__content-header">
                <h1 class="site-page__title" itemprop="name">ТОВ "Гарден Клаб"</h1>
                <div class="site-page__subtitle">інтернет-каталог товарів садово-городнього напряму</div>
            </div>

            <div class="site-page__description" itemprop="description"><p>Сайт провідної української торгової компанії, спеціалізація якої – оптова та роздрібна торгівля товарами садово-огороднього напрямку.</p>
                <p>Дизайн сайту тематичний, яскравий. Для оформлення використовувались анімації. На стартовій сторінці чотири анімовані банери, які ведуть на основні групи товарів.</p>
                <p>Каталог продукції обширний, розподілений за групами товарів. Також реалізований додатковий каталог за культурами. На сторінці категорії товарів створені додаткові фільтри за торговою маркою. Кожен товар позначений логотипом постачальника та має розгорнуту інформацію.</p>
                <p>Якщо ви бажаєте знайти де купити товар компанії можна скористатися інтерактивною картою або фільтром за областю.</p>
                <p>Наявний "Календар садівника", де ви можете дізнатись необхідну та корисну інформацію по садівництву.</p>
                <p>Окремо виділена інформація про постачальників, а також є блог, контакти Garden Club з можливістю вибору менеджера за областю й можливістю зворотнього зв'язку.</p>
            </div>

            <div class="socials-links">
                <li class="socials-links__list-item">
                    <a class="social-link" href="https://www.facebook.com/sharer.php?u=/project/gardenclub" target="_blank" data-attr="facebook-share" rel="nofollow">
                        <div class="social-link__icon"><svg class="icon icon--svg icon--facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-symbols.svg#facebook"></use></svg></div>
                        <div class="social-link__text">Facebook</div>
                    </a>
                </li>
            </div>

            <div class="site-page__content-footer">
                <a href="http://gardenclub.net.ua" class="button button--small" target="_blank" itemprop="url" rel="nofollow">Перейти на сайт</a>
            </div>

        </div>
    </div>

    <div class="site-page__right">
        <div class="visible-sm">
            <div class="site-page__mobile-header">
                <div class="site-page__title">ТОВ "Гарден Клаб"</div>
                <div class="site-page__subtitle">інтернет-каталог товарів садово-городнього напряму</div>
            </div>
        </div>

        <div class="project-page-media">
            <picture class="project-page-media__item loaded">
                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image initial loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" alt="1.jpg" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/ed638c3fb9e792f47b20dbb7c4ff216c595356bb.jpeg 2x" data-was-processed="true">
            </picture>
        </div>

        <div class="project-page-media">
                            <iframe src="https://player.vimeo.com/video/247484908?loop=1&amp;autopause=0&amp;color=000000&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" width="751" height="382" id="project-video" data-ready="true">
        </iframe>
                </div>

            <div class="project-page-media">
                <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_xs/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image initial loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" alt="2.jpg" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/6ccf66c8bcc53f2905b15c207799757aecd32903.jpeg 2x" data-was-processed="true">
                </picture>
            </div>
    </div>
</div>
