<div class="site-page site-page--style_5 site-page--slide"
     >
    <div class="site-page__left">
        <div class="site-page__content">
            <div class="site-page__content-header">
                <h1 class="site-page__title" itemprop="name">Robik-Music</h1>
                <div class="site-page__subtitle">інтернет-магазин музичних інструментів та обладнання</div>
            </div>

            <div class="site-page__description" itemprop="description"><p>Інтернет-магазин&nbsp;"Robik-Music" пропонує своїм покупцям великий вибір музичних інструментів, звукового, світлового, DJ та студійного обладнання, а також кабельної продукції.&nbsp;</p>
                <p>Зручний розподіл по категоріях, різноманітні фільтри та сортування допоможуть знайти потрібний товар серед широкого спектру представленого на сайті.</p>
                <p>В картці товару наявні: фото/відео товару, артикул, ціна (є &nbsp;можливість перегляду у зручній для Вас валюті), опис, характеристики, оцінка товару, відгуки, додавання товару в закладки та для порівняння, поширення через соцмережі, маркування для акційного товару та топ продажів, позначення товарів в наявності, з офіційною гарантією та товарів з безкоштовною доставкою.</p>
                <p>Придбати товар можна зайшовши в особистий кабінет, попередньо зареєструвавшись самостійно чи через обліковий запис в соцмережі або ж не реєструючись.</p>
                <p>Реалізовані всі потрібні покупцю сторінки: "Про нас", "Контакти", "Оплата і доставка", "Акції", "Статті", фотогалерея "Портфоліо", "Відгуки", також, якщо залишаються питання, можна замовити зворотній дзвінок або написати лист.</p>
            </div>

            <div class="socials-links">
                <li class="socials-links__list-item">
                    <a class="social-link" href="https://www.facebook.com/sharer.php?u=/project/robik-music" target="_blank" data-attr="facebook-share" rel="nofollow">
                        <div class="social-link__icon"><svg class="icon icon--svg icon--facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-symbols.svg#facebook"></use></svg></div>
                        <div class="social-link__text">Facebook</div>
                    </a>
                </li>
            </div>
            <div class="site-page__content-footer">
                <a href="http://robik-music.com" class="button button--small" target="_blank" itemprop="url" rel="nofollow">Перейти на сайт</a>
            </div>
        </div>
    </div>

    <div class="site-page__right">
        <div class="visible-sm">
            <div class="site-page__mobile-header">
                <div class="site-page__title">Robik-Music</div>
                <div class="site-page__subtitle">інтернет-магазин музичних інструментів та обладнання</div>
            </div>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" alt="1640-основне2.png" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" data-was-processed="true">
            </picture>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" alt="2.png" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" data-was-processed="true">
            </picture>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" alt="31.png" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" data-was-processed="true">
            </picture>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" alt="3.png" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" data-was-processed="true">
            </picture>
        </div>
    </div>
</div>
