<div class="site-page site-page--style_5 site-page--slide"
     >
    <div class="site-page__left">
        <div class="site-page__content">
            <div class="site-page__content-header">
                <h1 class="site-page__title" itemprop="name">Robik-Music</h1>
                <div class="site-page__subtitle">Robik music is an online store of musical instruments and equipment.</div>
            </div>

            <div class="site-page__description" itemprop="description">
                <p>
                    Goal</br>
                    -To create a well-srtucted online store.</br>
                    -To demonstrate each product deeply by showing description, features, photo and video.
                </p>
                <p>
                    Solution</br>
                    1. We create an adaptive functional website for a sale of musical instruments and equipment.
                </p>
                <p>
                    2. The range of products is wide, that is why we carefully elaborated the structure of a catalog and the interface.
                </p>
                <p>
                    3. We create different filters. Users can select product by type, brand, price, size, and other characteristics that important in a particular category.
                </p>
                <p>
                    4. We have added photos and videos in order to show products in all their magnificence.
                </p>
                <p>
                    Project features:</br>
                    Development of the concept</br>
                    Uniquely designed</br>
                    Mobile friendly</br>
                    Multilingualism</br>
                    CMS (Wedes Content Management System)</br>
                </p>
                <p>
                    Catalog</br>
                    Personal account</br>
                    Order history</br>
                    Registration/authorization through social networks</br>
                    Payment module</br>
                    Compare products function</br>
                    Visited products</br>
                    Import price lists</br>
                    Featured products/similar products</br>
                    New products, promotional, hits, etc.</br>
                    Filter selection</br>
                    News/Articles</br>
                    General search</br>
                    Form (order call)</br>
                    Feedback form</br>
                    Photo gallery</br>
                    Special price</br>
                    Newsletter</br>
                    Loyalty program for partners + personal account</br>
                </p>
                <p>
                    Tech:</br>
                    PHP-5.3,</br>
                    MySql,</br>
                    E-trade HTTP tunnel,</br>
                    JavaScript</br>
                </p>
            </div>
            <div class="site-page__content-footer">
                <a href="http://robik-music.com" class="button button--small" target="_blank" itemprop="url" rel="nofollow">Перейти на сайт</a>
            </div>
        </div>
    </div>

    <div class="site-page__right">
        <div class="visible-sm">
            <div class="site-page__mobile-header">
                <div class="site-page__title">Robik-Music</div>
                <div class="site-page__subtitle">інтернет-магазин музичних інструментів та обладнання</div>
            </div>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" alt="1640-основне2.png" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/f8750a9fef1826b2dd9f7ac31cb7f82ca290560b.png 2x" data-was-processed="true">
            </picture>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" alt="2.png" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/8c39db4fcafb69fa05dbe374e9407b552b36517a.png 2x" data-was-processed="true">
            </picture>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" alt="31.png" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/bcf01b9a97aad9762672f8dcbc2fed6421eb5967.png 2x" data-was-processed="true">
            </picture>
        </div>

        <div class="project-page-media">
                    <picture class="project-page-media__item loaded"><source srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_xs/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png, https://www.wedes-art.com/media/cache/media_project_tile_xs_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" media="(max-width: 47.9375rem)">

                <source srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" data-srcset="https://www.wedes-art.com/media/cache/media_project_tile_lg/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png, https://www.wedes-art.com/media/cache/media_project_tile_lg_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" media="(min-width: 75rem)">

                <img class="project-page-media__image loaded" src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png" data-src="https://www.wedes-art.com/media/cache/media_project_tile/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png" data-srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" alt="3.png" srcset="https://www.wedes-art.com/media/cache/resolve/media_project_tile_2x/app_portfolio__site_project/0001/01/813e1058a6da4729ad627ab62d4d15e751e89fa7.png 2x" data-was-processed="true">
            </picture>
        </div>
    </div>
</div>
