@require 'settings/base/breakpoints'

.visible-xlg
    display none !important

    +below($screen-xlg)
        display block !important

.visible-lg
    display none !important

    +below($screen-lg)
        display block !important

.visible-md
    display none !important

    +below($screen-md)
        display block !important

.visible-sm
    display none !important

    +below($screen-sm)
        display block !important

.visible-xs
    display none !important

    +below($screen-xs)
        display block !important

.hidden-xlg
    display block !important

    +below($screen-xlg)
        display none !important

.hidden-lg
    display block !important

    +below($screen-lg)
        display none !important

.hidden-md
    display block !important

    +below($screen-md)
        display none !important

.hidden-sm
    display block !important

    +below($screen-sm)
        display none !important

.hidden-xs
    display block !important

    +below($screen-xs)
        display none !important
