@require 'settings/base/libs'

//Fonts, icons

@require 'animations/pulse'
@require 'animations/pjax-navigation'

//Libraries

@require 'libs/normalize.styl'
@require 'libs/simplebar'
@require '../../../node_modules/swiper/dist/css/swiper.css'

//Helpers

@require 'helpers/responsive-helper'
@require 'helpers/sr-only'

//HTML Elements

@require 'elements/*'
@require 'elements/global'
@require 'elements/html'
@require 'elements/body'
@require 'elements/a'

//Blocks

@require 'blocks/base'
@require 'blocks/base-elements'
// @require 'blocks/contacts'
@require 'blocks/features'
@require 'blocks/homepage'
// @require 'blocks/order'
@require 'blocks/portfolio'
// @require 'blocks/write-us'

//Extra
.scene__content--feature
    flex-direction column

.feature-text
    margin 0 auto
    max-width 75%