$color-dark-base = #070707
$color-light-clear = #fff
$color-light-base = #c4c4c4
$color-primary = #fbdc00
$color-danger = #ff5722

$site-background-color = $color-dark-base
$focusable-element-hover-color = $color-primary
$focusable-element-active-color = darken($color-primary, 5%)
