$item-with-icon-and-text-icon-margin-right = 16px
$site-horizontal-padding-expression = '10px + .8vw'
$site-horizontal-padding = 'calc(%s)' % unquote($site-horizontal-padding-expression)
$site-padding-bottom = 40px
