$svg-symbols = {}

$svg-symbols.android = {};
$svg-symbols.android.width = 4rem
$svg-symbols.android.height = 4rem
$svg-symbols.android.ratio = 1
$svg-symbols.apple = {};
$svg-symbols.apple.width = 4rem
$svg-symbols.apple.height = 4rem
$svg-symbols.apple.ratio = 1
$svg-symbols.arrow-left = {};
$svg-symbols.arrow-left.width = 4rem
$svg-symbols.arrow-left.height = 4rem
$svg-symbols.arrow-left.ratio = 1
$svg-symbols.arrow-right = {};
$svg-symbols.arrow-right.width = 4rem
$svg-symbols.arrow-right.height = 4rem
$svg-symbols.arrow-right.ratio = 1
$svg-symbols.close = {};
$svg-symbols.close.width = 4rem
$svg-symbols.close.height = 4rem
$svg-symbols.close.ratio = 1
$svg-symbols.email = {};
$svg-symbols.email.width = 4rem
$svg-symbols.email.height = 4rem
$svg-symbols.email.ratio = 1
$svg-symbols.facebook = {};
$svg-symbols.facebook.width = 4rem
$svg-symbols.facebook.height = 4rem
$svg-symbols.facebook.ratio = 1
$svg-symbols.location = {};
$svg-symbols.location.width = 4rem
$svg-symbols.location.height = 4rem
$svg-symbols.location.ratio = 1
$svg-symbols.maps-and-flags = {};
$svg-symbols.maps-and-flags.width = 32rem
$svg-symbols.maps-and-flags.height = 32rem
$svg-symbols.maps-and-flags.ratio = 1
$svg-symbols.phone-receiver = {};
$svg-symbols.phone-receiver.width = 32rem
$svg-symbols.phone-receiver.height = 32rem
$svg-symbols.phone-receiver.ratio = 1
$svg-symbols.phone = {};
$svg-symbols.phone.width = 4rem
$svg-symbols.phone.height = 4rem
$svg-symbols.phone.ratio = 1
$svg-symbols.refresh = {};
$svg-symbols.refresh.width = 1rem
$svg-symbols.refresh.height = 1rem
$svg-symbols.refresh.ratio = 1
$svg-symbols.scroll-down = {};
$svg-symbols.scroll-down.width = 4rem
$svg-symbols.scroll-down.height = 4rem
$svg-symbols.scroll-down.ratio = 1
$svg-symbols.scroll-up = {};
$svg-symbols.scroll-up.width = 4rem
$svg-symbols.scroll-up.height = 4rem
$svg-symbols.scroll-up.ratio = 1
$svg-symbols.wedes = {};
$svg-symbols.wedes.width = 4rem
$svg-symbols.wedes.height = 4rem
$svg-symbols.wedes.ratio = 1