@keyframes support-icon-rotate-forward
    0%
        transform rotate(28deg)
    100%
        transform rotate(208deg)


@keyframes support-icon-rotate-backward
    0%
        transform rotate(0deg)
    100%
        transform rotate(-180deg)
