@require 'settings/base/breakpoints'

.contacts
    display flex
    flex-grow 1
    flex-direction column

    &__main
        +above($screen-sm)
            display flex
            flex-grow 1
            justify-content center
            align-items center

        > .write-us
            &:only-child
                +above($screen-sm)
                    margin-top auto
                    margin-bottom auto
                    padding-top 40px

    &__group
        & + &
            +above($screen-sm)
                margin-left 10vw

            +below($screen-sm)
                margin-top 60px

    .write-us
        +above($screen-sm)
            min-width 310px
            max-width 550px
            width 40vw
