@require 'settings/base/colors'
@require 'settings/base/time'
@require 'settings/blocks/main-header'

body
    display flex
    flex-direction column
    min-height 100vh
    background-color $site-background-color
    color $color-light-base

#pjax-container
    display flex
    flex-direction column
    flex-grow 1